<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- main.css -->
    <link rel="stylesheet" href="../style/main.css">
    <!-- owl-carousel -->
    <link rel="stylesheet" href="../style/owl/owl.carousel.min.css">
    <link rel="stylesheet" href="../style/owl/owl.theme.default.min.css">
    <!-- responsive.css -->
    <link rel="stylesheet" href="../style/responsive.css">
    <title>The ultimate NetFighter</title>
</head>

<body>



    <main>
        <header>
            <div class="container">
                <div class="logo">
                    <h4> The ultimate </h4>
                    <h2>Figther</h2>
                </div>
                <nav>
                    <a href="/">Inicio</a>
                    <a href="">Arcade</a>
                    <a href="">Console</a>
                    <a href="">Documentarios</a>
                </nav>
            </div>
        </header>
        <div id="artOF" class="movie-main">
            <div class="container">
                <h3 class="title">Art Of Fighting 3</h3>
                <p class="description">
                    Soque, chute e use poderes especiais neste game lendário de fliperama
                    The King of Fighters 97.
                    Lute por times de três lutadores e use diferentes ataques,
                    fazendo combinações para conseguir vitórias mais rápidas.
                    Só assim poderá se tornar o rei dos lutadores.
                </p>
                <div class="buttons">
                    <button role="button" class="button">
                        <i class="fas fa-gamepad"></i>
                        JOGAR AGORA
                    </button>
                    <button role="button" class="button">
                        <i class="fas fa-info"></i>
                        MAIS INFORMAÇÕES
                    </button>
                </div>
            </div>
        </div>
    </main>

    <div class="carousel-movie">
        <div class="category"></div>
        <div class="owl-carousel owl-theme"> <!--div carrosel KOF-->
            <div class="item"> <a href=""><img class="box-film" src="../img/demo/art/comb.gif" alt="" srcset=""></a> </div>
            <div class="item"> <a href=""><img class="box-film" src="../img/demo/art/comb2.gif" alt="" srcset=""></a> </div>
            <div class="item"> <a href=""><img class="box-film" src="../img/demo/art/ka.gif" alt="" srcset=""></a> </div>
            <div class="item"> <a href=""><img class="box-film" src="../img/demo/art/ro.webp" alt="" srcset=""></a> </div>
            <div class="item"> <a href=""><img class="box-film" src="../img/demo/art/xi.gif" alt="" srcset=""></a> </div>
        </div>

        <div class="category">Fatal fury</div>
        <div class="owl-carousel owl-theme"> <!--div carrosel SNK-->
            <div class="item"> <a href=""><img class="box-film" src="../img/Catalog/snk/artF.jpg" alt="" srcset=""></a> </div>
            <div class="item"> <a href=""><img class="box-film" src="../img/Catalog/snk/artF2.jpg" alt="" srcset=""></a> </div>
            <div class="item"> <a href=""><img class="box-film" src="../img/Catalog/snk/artF3.jpg" alt="" srcset=""></a> </div>
            <div class="item"> <a href=""><img class="box-film" src="../img/Catalog/snk/coliseum.jpg" alt="" srcset=""></a> </div>
            </div>
       
    </div>
    <script src="https://kit.fontawesome.com/ec15a1f200.js" crossorigin="anonymous"></script>
    <script src="../js/owl/jquery.min.js"></script>
    <script src="../js/owl/owl.carousel.min.js"></script>
    <script src="../js/setup.js"></script>
</body>

</html>