<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- main.css -->
    <link rel="stylesheet" href="../style/main.css">
    <!-- owl-carousel -->
    <link rel="stylesheet" href="../style/owl/owl.carousel.min.css">
    <link rel="stylesheet" href="../style/owl/owl.theme.default.min.css">
    <!-- responsive.css -->
    <link rel="stylesheet" href="../style/responsive.css">
    <title>The ultimate NetFighter</title>
</head>

<body>



    <main>
        <header>
            <div class="container">
                <div  class="logo">
                    <h4> The ultimate </h4>
                    <h2>NetFigther</h2>
                </div>
                <nav>
                    <a href="index.html">Inicio</a>
                    <a href="">Arcade</a>
                    <a href="">Console</a>
                    <a href="">Documentarios</a>
                </nav>
            </div>
        </header>
        <div id="svc_chaos" class="movie-main">
            <div class="container">
                <h3 class="title">SVC CHAOS</h3>
                <p class="description">
                    Soque, chute e use poderes especiais neste game lendário de fliperama
                    The King of Fighters 97.
                    Lute por times de três lutadores e use diferentes ataques,
                    fazendo combinações para conseguir vitórias mais rápidas.
                    Só assim poderá se tornar o rei dos lutadores.
                </p>
                <div class="buttons">
                    <button role="button" class="button">
                        <i class="fas fa-gamepad"></i>
                        JOGAR AGORA
                    </button>
                    <button role="button" class="button">
                        <i class="fas fa-info"></i>
                        MAIS INFORMAÇÕES
                    </button>
                </div>
            </div>
        </div>
    </main>

    <div class="carousel-movie">
        <div class="category"></div>
        <div class="owl-carousel owl-theme"> <!--div carrosel KOF-->
            <div class="item"> <a href=""><img class="box-film" src=".././img/demo/SVC/terrydemo.gif" alt="" srcset=""></a> </div>
            <div class="item"> <a href=""><img class="box-film" src=".././img/demo/SVC/demovlad.gif" alt="" srcset=""></a> </div>
            <div class="item"> <a href=""><img class="box-film" src=".././img/demo/SVC/kyochun_lee.gif" alt="" srcset=""></a> </div>
            <div class="item"> <a href=""><img class="box-film" src=".././img/demo/SVC/ryukyo.gif" alt="" srcset=""></a> </div>
            <div class="item"> <a href=""><img class="box-film" src=".././img/demo/SVC/cenário.gif" alt="" srcset=""></a> </div>
            
        </div>

        <div class="category">SNK</div>
        <div class="owl-carousel owl-theme"> <!--div carrosel KOF-->
            <div class="item"> <a href=""><img class="box-film" src="../img/Catalog/kof/koff97.jpg" alt="" srcset=""></a> </div>
            <div class="item"> <a href="http://127.0.0.1:5500/views/kof2003.html"><img class="box-film" src=".././img/Catalog/kof/kof2003.jpg" alt="" srcset=""></a> </div>
            <div class="item"> <a href="http://127.0.0.1:5500/views/garou.html"><img class="box-film" src=".././img/Catalog/snk/garou.jpg" alt="" srcset=""></a> </div>
            <div class="item"> <a href="http://127.0.0.1:5500/views/realB.html"><img class="box-film" src=".././img/Catalog/snk/RBespecial.jpg" alt="" srcset=""></a> </div>
            <div class="item"> <a href="http://127.0.0.1:5500/views/lastblade.html"><img class="box-film" src=".././img/Catalog/snk/lastB2.jpg" alt="" srcset=""></a> </div>
            <div class="item"> <a href="http://127.0.0.1:5500/views/artoffight.html"><img class="box-film" src=".././img/Catalog/snk/artF3.jpg" alt="" srcset=""></a> </div>
            <div class="item"> <a href="http://127.0.0.1:5500/views/samurai.html"><img class="box-film" src=".././img/Catalog/samurai/ss5.jpg" alt="" srcset=""></a> </div>
        </div>
        <div class="category">CAPCOM</div>
        <div class="owl-carousel owl-theme"> <!--div carrosel SVC-->
            <div class="item"> <a href="http://127.0.0.1:5500/views/street2.html"></a><img class="box-film" src="../img/Catalog/capcom/sfAL.jpg" alt="" srcset=""></a></div>
            <div class="item"> <a href=""></a><img class="box-film" src="./img/Catalog/capcom/sf5.jpg" alt="" srcset=""></a></div>
            <div class="item"> <a href=""></a><img class="box-film" src="./img/Catalog/capcom/svc2.jpg" alt="" srcset=""></a></div>
            <div class="item"> <a href=""></a><img class="box-film" src="./img/Catalog/capcom/nightW.jpg" alt="" srcset=""></a></div>
            <div class="item"> <a href=""></a><img class="box-film" src="./img/Catalog/capcom/vampireS.jpg" alt="" srcset=""></a></div>
            <div class="item"> <a href=""></a><img class="box-film" src="./img/Catalog/capcom/gem.png" alt="" srcset=""></a></div>
        </div>
    </div>
    <script src="https://kit.fontawesome.com/ec15a1f200.js" crossorigin="anonymous"></script>
    <script src="../js/owl/jquery.min.js"></script>
    <script src="../js/owl/owl.carousel.min.js"></script>
    <script src="../js/setup.js"></script>
</body>

</html>